{
    "presets": ["react-native"],
    "plugins": [
        [
          "module-alias", [
            { "src": "./redux-action-stream/index.js", "expose": "redux-action-stream" }
        ]
      ]
    ]
}
